#wrap
  #header
    != partial :header
  #nav
  #sidebar
    != partial :sidebar
  #main
    %div{:class => "entry"}
      The Swampscott Club was established at its present location in 1893, and was incorporated on June 9, 1899.

    %div{:class => "entry"}
      The Club inhabits a two story building, with a central chimney.  Its style is federal in structure, and the chimney is marked with the date "1789" although several photographs on display at the Club show the date of "1750". 

    %div{:class => "entry"}
      Its rear ell is visible from Humphrey Street as the right bay of its gable end extends beyond the right lateral wall of the main block.  The slender central chimney rises from this addition.  The original windows that flanked the entry were replaced with large picture windows to capitalize on the magnificent view, with a secondary entrance located in the center of the right lateral wall.

    %div{:class => "entry"}
      Famous for claiming countless trophies for dory racing, with many of those trophies still on display at the Club, attesting to its prowess on the the high seas.

    %div{:class => "entry"}
      Although a number of structural changes have been made throughout the 20th and 21st centuries, all enhancements have been performed with historical importance and traditional styles in mind. the Club retains every bit of its historical importantce, while bringing its operational procedures into the modern world.

    %div{:class => "entry"}
      Throughout the years, the Club has been instrumental in ensuring that its funding of community-related projects is met. It annually provides a scholarship to a graduate from Swampscott High School that will be going on to college.  It also sponsors a "Third Grade Beach Cleanup" at the end of each year. Annually awarding the Wilbur Green Memorial, presented to a Swampscott student that has battled back from physical adversity.  It was instrumental in playing a huge part in both the town's 100th, 150th, and 375th celebrations, and presently serves as a complimentary meeting place for a number of the town's volunteer committees.


Award, ClubThe       Throughout the years, the Club has been instrumental in ensuring that its funding of community-related projects is met. It annually provides a scholarship to a graduate from Swampscott High School that will be going on to college.  It also sponsors a Third Grade Beach cleanup at the end of each year.upannual schoolwhile annually awarding the Wilbur Green Memorial  presented to a Swampscott student that has battled back from physical adversity.  It was instrumental in playing a huge part in both the town's 100th, 150th - and 375th celebrations, and presently serves as a complimentary meeting place for a number of the town's volunteer committees.

    %div{:class => "entry"}
      It also opens its doors each year on the day of the town's fireworks demonstration, as well as on any and all days which a parade takes place.  On these days, tours are provided which offer a unique glimpse into the Club's rich and historic past.

    %div{:class => "entry"}
      It is the home to countless free-of-charge educational classes related to yachting and boat safety, and remains close to the hearts of all who have passed through its portals.

    != partial :share_buttons
  #footer
    != partial :footer
