%div{:class => "asset-thumbnail"}
  %a{ :href => "/assets/#{asset.id}" }
    %img{ :width => "300", :src => asset.url_300, :alt => asset.alt_text }
  %br
  != asset.title_year_html
  %br
  != asset.media
  %br
  != asset.dim
  %br
  %br
  %br