#wrap
  #header
    != partial :header
  #nav
  #sidebar
    != partial :sidebar
  #main
    %h3 CONTACT
    
    %br

    %p
      362 Humphrey St
      %br
      Swampsctt, MA 01907

    %br

    %p
      <a href="mailto:swampscottclub@gmail.com">swampscottclub<span style="font-family: serif">@</span>gmail.com</a>

    %br

    %p
      +1-781-595-9748

    %br

    %p
      <a href="https://www.facebook.com/SwampscottClub" title="Facebook" target="_blank"><img width="30" height="30" src="/images/facebook-512.png" /></a>

    
  #footer
    != partial :footer
