#wrap
  #header
    != partial :header
  #nav
  #sidebar
    != partial :sidebar
  #main
    %h3 CONTACT
    
    %br

    %p
      271 Western Avenue
      %br
      Lynn, MA 01904

    %br

    %p
      <a href="mailto:artist@laramirandagoodman.com">artist<span style="font-family: serif">@</span>laramirandagoodman.com</a>

    %br

    %p
      +1-781-526-8828

    %br

    %p
      <a href="https://www.facebook.com/laramirandagoodman" title="Facebook" target="_blank"><img width="30" height="30" src="/images/facebook-512.png" /></a>

    
  #footer
    != partial :footer
