#wrap
  #header
    != partial :header
  #nav
  #sidebar
    != partial :sidebar
  #main
    %h3 CONTACT
    
    %br

    %p
      271 Western Avenue
      %br
      Lynn, MA 01904

    %br

    %p
      <a href="https://www.facebook.com/laramirandagoodman">https://www.facebook.com/laramirandagoodman</a>

    %br

    %p
      <a href="mailto:artist@laramirandagoodman.com">artist<span style="font-family: serif">@</span>laramirandagoodman.com</a>

    %br
 
    +1-781-526-8828
    
  #footer
    != partial :footer
