#wrap
  #header
    != partial :header
  #nav
  #sidebar
    != partial :sidebar
  #main
    %div{:class => "entry"}
      The Swampscott Club was founded on June 9, 1899.

    != partial :share_buttons
  #footer
    != partial :footer
