#wrap
  #header
    != partial :header
  #nav
  #sidebar
    != partial :sidebar
  #main
    %div{:class => "mission"}
      For the establishing and maintaining of a place for a reading room and social meetings, and the encouragement of yachting.
    %div{:class => "picture"}
      %img{:src => 'images/swampclub1.jpg'} 
    %div{:class => "entry"}
      Famous for claiming countless trophies for dory racing, with many of those trophies still on display at the Club, attesting to its prowess on the the high seas.
    != partial :share_buttons
  #footer
    != partial :footer
