#wrap
  #header
    != partial :header
  #nav
  #sidebar
    != partial :sidebar
  #main
    %div{:class => "mission"}
      %h2 
        Establishing and maintaining of a place for a reading room and social meetings, and the encouragement of yachting.
    %div{:class => "picture", :align => "middle"}
      %img{:src => 'images/postcard.jpg'} 
    != partial :share_buttons
  #footer
    != partial :footer
