%ul{ :class => "menu" }
  %li
    %a{ :href => "/" } HOME
  %li
    %a{ :href => "/about" } ABOUT
  %li
    %a{ :href => "/calendar" } CALENDAR
  %li
    %a{ :href => "/history" } HISTORY
  %li
    %a{ :href => "/contact" } CONTACT
