%ul{ :class => "menu" }
  %li
    %a{ :href => "/paintings" } ALL PAINTINGS
  %li &nbsp;
  %li 
    %a{ :href => "/series/abstracts" } ABSTRACTS
  %li
    %a{ :href => "/series/oysters" } OYSTERS
  %li
    %a{ :href => "/series/rocks" } ROCKS
  %li
    %a{ :href => "/series/spring" } SPRING
  %li &nbsp;
  %li
    %a{ :href => "/CV" } CV     
  %li
    %a{ :href => "/contact" } CONTACT
