body
  margin: 0
  padding: 0
  color: #fff
  background: #000

.thumbs-container
  text-align: center

.thumbs-main

.thumbs-block
  width: 200px
  height: 200px
  display: inline-block
  margin: 20px

html
  margin: 0
  padding: 0
  color: #fff
  background: #000

a
  text-decoration: none
  color: #fff
a:focus
  text-decoration: none
  outline: 0
  color: #ccc
a:focus
  text-decoration: none
  outline: 0
  color: #ccc
a:hover
  text-decoration: none
  color: #fff
a:active
  text-decoration: none
  color: #ccc
a img
  border: 0

#wrap
  width: 750px
  margin: 0 auto
  background: #000

#header
  background: #000
  padding: 5px 10px

h1
  margin: 0

#nav
  background: #000
  padding: 5px 10px

#nav ul
  margin: 0
  padding: 0
  list-style: none

#nav li
  display: inline
  margin: 0
  paddnig: 0

#main
  float: left
  width: 580px
  background: #000
  padding: 10px

h2
  margin: 0 0 1em

#painting-selector
  text-align: center
  padding: 10px

#sidebar
  float: right
  width: 130px
  background: #000
  padding: 10px

#footer
  clear: both
  background: #000
  padding: 5px 10px

#footer p
  margin: 0
  text-align: center
  font-size: small

* html #footer
  height: 1px