#wrap
  #header
    != partial :header
  #nav
  #main
    %h3 CONTACT
    
    %br

    %p
      Mailing Address:
      %br
      XXXXX
      %br
      XXXXX, MA 0190#

    %br

    %p
      271 Western Avenue
      %br
      Lynn, MA 01904

    %br

    %p
      %a{ :href => "mailto:artist@laramirandagoodman.com" } artist@laramirandagoodman.com

    %br
 
    TELEPHONE?
    
  #sidebar
    != partial :sidebar
  #footer
    != partial :footer
