#wrap
  #header
    != partial :header
  #nav
  #sidebar
    != partial :sidebar
  #main
    %img{ :src => '/images/spiaggia.jpg', :alt => "Spiaggia. 10x14. Oil on canvas. 2012."  }
    %br <em>Spiaggia</em>, 2012. Oil on canvas. 10 x 14 inches
    %br
    != partial :share_buttons
  #footer
    != partial :footer