#container
  #header
    %h1 Lara Miranda Goodman
  #content
    .left.column
      %img{ :src => '/images/spiaggia.jpg' }
    .right.column
      %ul
        %li 
          %a{ :href => "/landscapes" } Landscapes
        %li
          %a{ :href => "/oysters" } Oysters
        %li
        %li
          %a{ :href => "/cv" } CV     
        %li
          %a{ :href => "/contact" } Contact
  #footer
