#wrap
  #header
    %a{ :href => "/" }
      %img{ :src => '/images/logo.png' }
  #nav
  #main
    %h3= @name

  #sidebar
    %ul
      %li 
        %a{ :href => "/series/abstracts" } ABSTRACTS
      %li
        %a{ :href => "/series/oysters" } OYSTERS
      %li &nbsp;
      %li
        %a{ :href => "/CV" } CV     
      %li
        %a{ :href => "/contact" } CONTACT
  #footer
