%ul
  %li 
    %a{ :href => "/series/abstracts" } ABSTRACTS
  %li
    %a{ :href => "/series/oysters" } OYSTERS
  %li &nbsp;
  %li
    %a{ :href => "/CV" } CV     
  %li
    %a{ :href => "/contact" } CONTACT
